@using Microsoft.CodeAnalysis.CSharp
@model System.Collections.Generic.IEnumerable<PlayerMonitor.Core.PlayerModel>

@{
    ViewBag.Title = "Players";
    Layout = "_Layout";
}

<h2>Players</h2>

<table class="table table-responsive table-hover">
    <tr>
        <th>First Name</th>
        <th>Surname</th>
    </tr>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.Forename</td>
            <td>@player.Surname</td>
            <td><a asp-controller="Players" asp-action="Edit">Edit</a> | <a asp-controller="Players" asp-action="Delete">Delete</a></td>
        </tr>
    }
</table>
