@using Microsoft.CodeAnalysis.CSharp
@model System.Collections.Generic.IEnumerable<PlayerMonitor.Core.PlayerModel>

@{
    ViewData["Title"] = "Players";
}

<h2>Players</h2>

<a class="btn btn-success" asp-controller="Players" asp-action="Add">Add Player</a>
<br />
<br />

<table class="table table-responsive table-hover">
    <tr>
        <th>First Name</th>
        <th>Surname</th>
    </tr>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.Forename</td>
            <td>@player.Surname</td>
            <td><a asp-controller="Players" asp-action="Edit">Edit</a> | <a asp-controller="Players" asp-action="Delete">Delete</a></td>
        </tr>
    }
</table>
