
@{
    ViewData["Title"] = "Upload";
}

<form method="post" asp-action="Upload" asp-controller="Players" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>